<template>
  <div class="houseIcons">
    <div class="wrapper">
      <div class="iconBox">
        <div class="ico">
          <img :src="require(`@/assets/ico-1.png`)">
        </div>
        <p class="bigger">{{ powierzchniaDomu }} m<sup>2</sup></p>
        <p>powierzchnia domu</p>
      </div>
      <div class="iconBox">
        <div class="ico">
          <img :src="require(`@/assets/ico-2.png`)">
        </div>
        <p class="bigger">{{ powierzchniaDzialki }} m<sup>2</sup></p>
        <p>powierzchnia działki</p>
      </div>
      <div class="iconBox">
        <div class="ico">
          <img :src="require(`@/assets/ico-3.png`)">
        </div>
        <p class="bigger">{{ garaz }}</p>
        <p>garaż</p>
      </div>
      <div class="iconBox" v-if="cena != ''">
        <div class="ico">
          <img :src="require(`@/assets/ico-4.png`)">
        </div>
        <p class="bigger">{{ cena }} zł</p>
        <p>cena brutto</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'EstateIcons',
  props: ['powierzchniaDomu', 'powierzchniaDzialki', 'garaz', 'cena'],
};
</script>

<style lang="scss" scoped>
.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
}
.houseIcons {
  background-image: url('../../assets/icons-bg.jpg');
  background-position: 50% 50%;
  background-size: cover;
  padding: 60px 0;
  @media (max-width: 720px) {
    padding: 10px 0;
  }
  .wrapper {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-direction: row;
    @media (max-width: 720px) {
      flex-direction: column;
      padding: 0 0 20px 0;
    }
    .ico {
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
      height: 140px;
      @media (max-width: 720px) {
        height: auto;
        padding: 20px 0 10px 0;
      }
      img {
        @media (max-width: 720px) {
          width: 50px;
        }
      }
    }
    p {
      color: #fff;
      margin: 0;
      text-align: center;
      &.bigger {
        font-size: 30px;
        @media (max-width: 720px) {
          font-size: 20px;
        }
      }
    }
  }
}
</style>
