<template>
  <div class="homeIntro" id="estateIntro">
    <img :src="require(`@/assets/estate-intro.jpg`)" alt="Osiedle Czarneckiego" class="a1 img-intro" />
    <img :src="require(`@/assets/a1-intro-bg.jpg`)" alt="Osiedle Czarneckiego" class="b1 img-intro" />
    <img :src="require(`@/assets/D1_1-intro.jpg`)" alt="Osiedle Czarneckiego" class="d1 img-intro" />
    <img :src="require(`@/assets/C1_1-intro.jpg`)" alt="Osiedle Czarneckiego" class="c1 img-intro" />
    <transition name="slide-fade">
      <EstateApla v-if="step === 1" />
    </transition>
  </div>
</template>

<script>
import EstateApla from './EstateApla.vue';

export default {
  name: 'EstateIntro',
  components: {
    EstateApla,
  },
  data() {
    return {
      step: 0,
    };
  },
  methods: {
    handleScroll() {
      const scrollPosition = (document.documentElement && document.documentElement.scrollTop) || document.body.scrollTop;
      const divIntro = document.getElementById('estateIntro');
      const estateIntroPosition = divIntro.offsetTop - 57;
      if (scrollPosition > estateIntroPosition) {
        this.step = 1;
      } else {
        this.step = 0;
      }
    },
  },
  created() {
    window.addEventListener('scroll', this.handleScroll);
  },
  destroyed() {
    window.removeEventListener('scroll', this.handleScroll);
  },
};
</script>

<style lang="scss" scoped>
  .homeIntro {
    width: 100%;
    position: relative;
    background: url('../../assets/estate-intro.jpg') no-repeat 50% 50% transparent;
    background-size: cover;

    @media (max-width: 720px) {
      height: 350px;
    }
    .img-intro {
      display: none;
      width: auto;
      max-width: 100%;
      height: auto;
      @media (max-width: 720px) {
        display: none !important;
      }
    }

    &.b1 {
      background: url('../../assets/a1-intro-bg.jpg') no-repeat 50% 50% transparent;
      background-size: cover;
    }
    &.d1 {
      background: url('../../assets/D1_1-intro.jpg') no-repeat 50% 50% transparent;
      background-size: cover;
    }
    &.c1 {
      background: url('../../assets/C1_1-intro.jpg') no-repeat 50% 50% transparent;
      background-size: cover;
    }
  }
  .a1 .a1.img-intro,
  .b1 .b1.img-intro,
  .c1 .c1.img-intro,
  .d1 .d1.img-intro {
    display: block;
  }
  .slide-fade-enter-active {
    transition: all .3s ease-in-out;
  }
  .slide-fade-leave-active {
    transition: all .3s ease-in-out;
  }
  .slide-fade-enter, .slide-fade-leave-to {
    transform: translateX(100%);
    opacity: 0;
  }
</style>
