<template>
  <div class="estateAplaWrapper">
    <div class="estateAplaContent">
      <div v-if="houseDetail === 'a'">
        <h1 class="title">Budynek A</h1>
        <div class="linkBtn">
          <a href="./ParterowyA1_rzut_tabelka.pdf" class="seeMore" target="_blank">projekt domu</a>
          <router-link to="/kontakt" class="seeMore">napisz do nas</router-link>
        </div>
      </div>
      <div v-if="houseDetail === 'b'">
        <h1 class="title">Budynek B</h1>
        <div class="linkBtn">
          <a href="./ParterowyB1_rzut_tabelka.pdf" class="seeMore" target="_blank">projekt domu</a>
          <router-link to="/kontakt" class="seeMore">napisz do nas</router-link>
        </div>
      </div>
      <div v-if="houseDetail === 'c'">
        <h1 class="title">Budynek C</h1>
        <div class="linkBtn">
          <a href="./ParterowyA1_rzut_tabelka.pdf" class="seeMore" target="_blank">projekt domu</a>
          <router-link to="/kontakt" class="seeMore">napisz do nas</router-link>
        </div>
      </div>
      <div v-if="houseDetail === 'd'">
        <h1 class="title">Budynek D</h1>
        <div class="linkBtn">
          <a href="./ParterowyB1_rzut_tabelka.pdf" class="seeMore" target="_blank">projekt domu</a>
          <router-link to="/kontakt" class="seeMore">napisz do nas</router-link>
        </div>
      </div>
      <div v-if="houseDetail === 'e'">
        <h1 class="title">Budynek E</h1>
        <div class="linkBtn">
          <a href="./ParterowyA1_rzut_tabelka.pdf" class="seeMore" target="_blank">projekt domu</a>
          <router-link to="/kontakt" class="seeMore">napisz do nas</router-link>
        </div>
      </div>
      <div v-if="houseDetail === 'f'">
        <h1 class="title">Budynek F</h1>
        <div class="linkBtn">
          <a href="./Blizniak_rzut.pdf" class="seeMore" target="_blank">projekt domu</a>
          <router-link to="/kontakt" class="seeMore">napisz do nas</router-link>
        </div>
      </div>
      <div v-if="houseDetail === 'g'">
        <h1 class="title">Budynek G</h1>
        <div class="linkBtn">
          <a href="./Blizniak_rzut.pdf" class="seeMore" target="_blank">projekt domu</a>
          <router-link to="/kontakt" class="seeMore">napisz do nas</router-link>
        </div>
      </div>
      <div v-if="houseDetail === 'h'">
        <h1 class="title">Budynek H</h1>
        <div class="linkBtn">
          <lightbox
              :thumbnail="require(`@/assets/projekt-domu.png`)"
              :images="[require(`@/assets/C1_rzut_parteru.png`), require(`@/assets/C1_rzut_pietra.png`)]"
          ></lightbox>
          <router-link to="/kontakt" class="seeMore">napisz do nas</router-link>
        </div>
      </div>
      <div v-if="houseDetail === 'i'">
        <h1 class="title">Budynek I</h1>
        <div class="linkBtn">
          <a href="./Blizniak_rzut.pdf" class="seeMore" target="_blank">projekt domu</a>
          <router-link to="/kontakt" class="seeMore">napisz do nas</router-link>
        </div>
      </div>
      <div v-if="houseDetail === 'j'">
        <h1 class="title">Budynek J</h1>
        <div class="linkBtn">
          <a href="./Blizniak_rzut.pdf" class="seeMore" target="_blank">projekt domu</a>
          <router-link to="/kontakt" class="seeMore">napisz do nas</router-link>
        </div>
      </div>
      <div v-if="houseDetail === 'k'">
        <h1 class="title">Budynek K</h1>
        <div class="linkBtn">
          <a href="./Blizniak_rzut.pdf" class="seeMore" target="_blank">projekt domu</a>
          <router-link to="/kontakt" class="seeMore">napisz do nas</router-link>
        </div>
      </div>
      <div v-if="houseDetail === 'l'">
        <h1 class="title">Budynek L</h1>
        <div class="linkBtn">
          <a href="./Blizniak_rzut.pdf" class="seeMore" target="_blank">projekt domu</a>
          <router-link to="/kontakt" class="seeMore">napisz do nas</router-link>
        </div>
      </div>
      <div v-if="houseDetail === 'm'">
        <h1 class="title">Budynek M</h1>
        <div class="linkBtn">
          <a href="./Blizniak_rzut.pdf" class="seeMore" target="_blank">projekt domu</a>
          <router-link to="/kontakt" class="seeMore">napisz do nas</router-link>
        </div>
      </div>
      <div v-if="houseDetail === 'h1'">
        <h1 class="title">Budynek 1</h1>
        <div class="linkBtn">
          <a href="./Szeregowka_rzut.pdf" class="seeMore" target="_blank">projekt domu</a>
          <router-link to="/kontakt" class="seeMore">napisz do nas</router-link>
        </div>
      </div>
      <div v-if="houseDetail === 'h2'">
        <h1 class="title">Budynek 2</h1>
        <div class="linkBtn">
          <a href="./Szeregowka_rzut.pdf" class="seeMore" target="_blank">projekt domu</a>
          <router-link to="/kontakt" class="seeMore">napisz do nas</router-link>
        </div>
      </div>
      <div v-if="houseDetail === 'h3'">
        <h1 class="title">Budynek 3</h1>
        <div class="linkBtn">
          <a href="./Szeregowka_rzut.pdf" class="seeMore" target="_blank">projekt domu</a>
          <router-link to="/kontakt" class="seeMore">napisz do nas</router-link>
        </div>
      </div>
      <div v-if="houseDetail === 'h4'">
        <h1 class="title">Budynek 4</h1>
        <div class="linkBtn">
          <a href="./Szeregowka_rzut.pdf" class="seeMore" target="_blank">projekt domu</a>
          <router-link to="/kontakt" class="seeMore">napisz do nas</router-link>
        </div>
      </div>
      <div v-if="houseDetail === 'h5'">
        <h1 class="title">Budynek 5</h1>
        <div class="linkBtn">
          <a href="./Szeregowka_rzut.pdf" class="seeMore" target="_blank">projekt domu</a>
          <router-link to="/kontakt" class="seeMore">napisz do nas</router-link>
        </div>
      </div>
      <div v-if="houseDetail === 'h6'">
        <h1 class="title">Budynek 6</h1>
        <div class="linkBtn">
          <a href="./Szeregowka_rzut.pdf" class="seeMore" target="_blank">projekt domu</a>
          <router-link to="/kontakt" class="seeMore">napisz do nas</router-link>
        </div>
      </div>
      <div v-if="houseDetail === 'h7'">
        <h1 class="title">Budynek 7</h1>
        <div class="linkBtn">
          <a href="./Szeregowka_rzut.pdf" class="seeMore" target="_blank">projekt domu</a>
          <router-link to="/kontakt" class="seeMore">napisz do nas</router-link>
        </div>
      </div>
      <div v-if="houseDetail === 'h8'">
        <h1 class="title">Budynek 8</h1>
        <div class="linkBtn">
          <a href="./Szeregowka_rzut.pdf" class="seeMore" target="_blank">projekt domu</a>
          <router-link to="/kontakt" class="seeMore">napisz do nas</router-link>
        </div>
      </div>
      <div v-if="houseDetail === 'h9'">
        <h1 class="title">Budynek 9</h1>
        <div class="linkBtn">
          <a href="./Szeregowka_rzut.pdf" class="seeMore" target="_blank">projekt domu</a>
          <router-link to="/kontakt" class="seeMore">napisz do nas</router-link>
        </div>
      </div>
      <div v-if="houseDetail === 'h10'">
        <h1 class="title">Budynek 10</h1>
        <div class="linkBtn">
          <a href="./Szeregowka_rzut.pdf" class="seeMore" target="_blank">projekt domu</a>
          <router-link to="/kontakt" class="seeMore">napisz do nas</router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'EstateApla',
  data: () => {
    return {
      houseDetail: 'a',
    };
  },
  methods: {
    openPdf: function (link) {
      window.open(link);
    },
    houseChanger() {
      const { house } = this.$route.query;
      if (house !== undefined) {
        this.houseDetail = house;
      } else {
        this.houseDetail = 'a';
      }
    },
  },
  watch: {
    '$route.query.house'() {
      this.houseChanger();
    },
  },
  mounted() {
    this.houseChanger();
  },
};
</script>

<style lang="scss" scoped>
.estateAplaWrapper {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50vw;
  height: 100%;
  padding-top: 62px;
  // background-color: #fff;
  background-image: url('../../assets/apla-bg.png');
  background-position: 50% 50%;
  background-color: transparent;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

  .estateAplaContent {
    max-width: 426px;
  }

  @media (max-width: 720px) {
    width: 100vw;
    left: 0;
    height: 100%;
  }
}

.title {
  color: #757575;
  font-size: 50px;
  margin: 0 0 40px 0;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  font-family: 'Alex Brush', cursive;

  strong {
    font-weight: 700;
    font-size: 36px;
    color: #b2c482;
  }
}

.fastNavigation {
  font-size: 21px;
  color: #666;
  margin: 20px 0;
  text-align: center;
}

.iconsWrapper {
  display: flex;
  flex-direction: row;
  margin: 0 0 30px 0;
  justify-content: space-around;
  .aplaIco {
    background: #a2a2a2;
    margin: 0 20px;
    width: 5vw;
    padding: 10px 0;
    // height: 7.5vw;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .imgBox {
      display: flex;
      width: 2vw;
      height: 2vw;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;

      img {
        display: flex;
        width: auto;
        height: auto;
        max-width: 2vw;
      }
    }
    p {
      color: #fff;
      font-size: 13px;
      margin: 5px 0 0 0;
    }
  }
}

.estateGalleryThumbs {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  max-width: 426px;
  margin-bottom: 30px;

  .estateGalleryThumb {
    width: 33.3333%;
    padding: 5px;

    a {
      display: block;

      img {
        display: block;
        width: auto;
        height: auto;
        max-width: 100%;
      }
    }
  }
}

.linkBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;

  .seeMore {
    background: #bec9a2;
    border: 0;
    border-radius: 30px;
    font-size: 14px;
    color: #fff;
    padding: 0;
    cursor: pointer;
    margin: 20px 10px;
    display: block;
    text-decoration: none;
    text-align: center;
    width: 267px;
    height: 45px;
    line-height: 45px;
    max-width: 400px;
  }
}
</style>
