<!DOCTYPE html>
<html lang="pl-PL">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Osiedle Czarneckiego - nowe domy Wodzisław Śląski</title>
    <meta name="Description" content="Osiedle Czarneckiego to kameralne osiedle domów jednorodzinnych o powierzchni mieszkalnej od 85,5 m2 do 149,4 m2. Wodzisław Śląski - dzielnica Wilchwy">
    <meta name="Keywords" content="Osiedle wodzisław,osiedle wilchwy,osiedle czarnieckiego,osiedle czarneckiego,nowe osiedle wodzisław,domy parterowe wodzisław,szeregówka wilchwy,s-bud domy">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-5275423-11"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-5275423-11');
    </script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but osiedle-czarneckiego doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
