<template>
  <div
    class="imgWrapper"
  >
    <!-- :style="{'background-image': 'url(' + require(`@/assets/${imgURL}`) + ')'}"
    > -->
    <img :src='require(`@/assets/${imgURL}`)' alt="" />
  </div>
</template>

<script>
export default {
  name: 'ImgItem',
  props: ['imgURL'],
};
</script>

<style lang="scss" scoped>
.imgWrapper {
  width: 50vw;
  // height: 50vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-size: cover;
  background-position: 50% 50%;
  img {
    display: block;
    width: auto;
    max-width: 100%;
    height: auto;
  }
  @media (max-width: 720px) {
    width: 100vw;
  }
}
</style>
