<template>
  <div class="textWrapper">
    <div class="txt">
      <h3>{{ title }}</h3>
      <div v-html="text"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TextItem',
  props: ['title', 'text'],
};
</script>

<style lang="scss" scoped>
.textWrapper {
  width: 50vw;
  // height: 50vh;
  // height: 100%;
  padding: 0 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  // background: #b2c482;
  // background-image: url(../../../assets/text-wrapper-bg.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-color: #5d6c42;
  color: #fff;
  @media (max-width: 720px) {
    width: 100vw;
    height: auto;
    padding: 10px;
  }

  &.whiteBox {
    background: #fff;
    color: #686868;
  }

  h3 {
    font-size: 36px;
    font-weight: 500;
    margin: 20px 0;
    text-align: center;
    font-family: 'Alex Brush', cursive;
  }

  .txt {
    font-size: 14px;
    line-height: 1;
    max-width: 426px;
    text-align: justify;
    font-weight: 400;

    @media (max-width: 720px) {
      text-align: left;
    }
  }
}
</style>
