<template>
  <div>
    <TopBar class="shadow" />
    <Map />
    <EstateIntro :class="[houseDetailType]" />
    <EstateIcons
      powierzchniaDomu="141"
      powierzchniaDzialki="754"
      garaz="tak"
      cena=""
      v-if="houseDetail === 'a'"
    />
    <EstateIcons
      powierzchniaDomu="85,5"
      powierzchniaDzialki="621"
      garaz="brak"
      cena=""
      v-if="houseDetail === 'b'"
    />
    <EstateIcons
      powierzchniaDomu="141"
      powierzchniaDzialki="746"
      garaz="tak"
      cena=""
      v-if="houseDetail === 'c'"
    />
    <EstateIcons
      powierzchniaDomu="85,5"
      powierzchniaDzialki="621"
      garaz="brak"
      cena=""
      v-if="houseDetail === 'd'"
    />
    <EstateIcons
      powierzchniaDomu="141"
      powierzchniaDzialki="1030"
      garaz="tak"
      cena=""
      v-if="houseDetail === 'e'"
    />
    <EstateIcons
      powierzchniaDomu="149,4"
      powierzchniaDzialki="476"
      garaz="tak"
      cena=""
      v-if="houseDetail === 'f'"
    />
    <EstateIcons
      powierzchniaDomu="149,4"
      powierzchniaDzialki="504"
      garaz="tak"
      cena=""
      v-if="houseDetail === 'g'"
    />
    <EstateIcons
      powierzchniaDomu="149,4"
      powierzchniaDzialki="739"
      garaz="tak"
      cena=""
      v-if="houseDetail === 'h'"
    />
    <EstateIcons
      powierzchniaDomu="149,4"
      powierzchniaDzialki="539"
      garaz="tak"
      cena=""
      v-if="houseDetail === 'i'"
    />
    <EstateIcons
      powierzchniaDomu="149,4"
      powierzchniaDzialki="537"
      garaz="tak"
      cena=""
      v-if="houseDetail === 'j'"
    />
    <EstateIcons
      powierzchniaDomu="149,4"
      powierzchniaDzialki="386"
      garaz="tak"
      cena=""
      v-if="houseDetail === 'k'"
    />
    <EstateIcons
      powierzchniaDomu="149,4"
      powierzchniaDzialki="386"
      garaz="tak"
      cena="665.000"
      v-if="houseDetail === 'l'"
    />
    <EstateIcons
      powierzchniaDomu="149,4"
      powierzchniaDzialki="444"
      garaz="tak"
      cena="665.000"
      v-if="houseDetail === 'm'"
    />
    <!-- <EstateIcons
      powierzchniaDomu="149,4"
      powierzchniaDzialki="403"
      garaz="tak"
      cena="465.000"
      v-if="houseDetail === 'h1'"
    />
    <EstateIcons
      powierzchniaDomu="149,4"
      powierzchniaDzialki="277"
      garaz="tak"
      cena="455.000"
      v-if="houseDetail === 'h2'"
    />
    <EstateIcons
      powierzchniaDomu="149,4"
      powierzchniaDzialki="284"
      garaz="tak"
      cena="..."
      v-if="houseDetail === 'h3'"
    />
    <EstateIcons
      powierzchniaDomu="149,4"
      powierzchniaDzialki="290"
      garaz="tak"
      cena="..."
      v-if="houseDetail === 'h4'"
    />
    <EstateIcons
      powierzchniaDomu="149,4"
      powierzchniaDzialki="297"
      garaz="tak"
      cena="..."
      v-if="houseDetail === 'h5'"
    />
    <EstateIcons
      powierzchniaDomu="149,4"
      powierzchniaDzialki="304"
      garaz="tak"
      cena="..."
      v-if="houseDetail === 'h6'"
    />
    <EstateIcons
      powierzchniaDomu="149,4"
      powierzchniaDzialki="310"
      garaz="tak"
      cena="..."
      v-if="houseDetail === 'h7'"
    />
    <EstateIcons
      powierzchniaDomu="149,4"
      powierzchniaDzialki="317"
      garaz="tak"
      cena="..."
      v-if="houseDetail === 'h8'"
    />
    <EstateIcons
      powierzchniaDomu="149,4"
      powierzchniaDzialki="324"
      garaz="tak"
      cena="..."
      v-if="houseDetail === 'h9'"
    />
    <EstateIcons
      powierzchniaDomu="149,4"
      powierzchniaDzialki="794"
      garaz="tak"
      cena="..."
      v-if="houseDetail === 'h10'"
    /> -->
    <div v-if="houseDetailType === 'b1'">
      <div class="wrapper">
        <div class="txtDetails">
          <div>
            <h3>Dom typu B1</h3>
            <p>Nowoczesny dom zaprojektowany w nowoczesnym stylu z dwiema sypialniami i dużą kuchnią. Prosta bryła domu dzięki ciekawie dobranej elewacji prezentuje się bardzo efektownie. Jest to dom idealny dla 3-4 osobowej rodziny. W domu znajduje się otwarta, przestronna kuchnia z jadalnią oraz salon z wyjściem na taras. Zaprojektowano dwie sypialnie, łazienkę oraz pomieszczenie gospodarcze.</p>
            <h3>Koncepcja</h3>
            <p>Strefy: reprezentacyjna oraz nocna są wyraźnie wydzielone, co zapewnia domownikom wygodę i komfort użytkowania. Pomieszczenia zaprojektowane zostały z myślą o maksymalnej funkcjonalności - wnętrza będą ustawne, przestronne i jasne.</p>
          </div>
          <div>
            <h3>Wszystko w cenie</h3>
            <p>Dom posadowiony na płycie wraz z izolacją przeciwwilgociową, ściany wymurowane z pustaka ceramicznego. Dom ocieplony styropianem, otynkowany. Komin ceramiczny z wkładem z wełny, kominy wentylacyjne systemowe, dach płaski pokryty membraną PVC, okna PVC trzyszybowe, rolety zewnętrzne ze sterowaniem elektrycznym, drzwi zewnętrzne, tynk gipsowy, wylewki cementowe, ogrzewanie podłogowe wraz z rozprowadzoną instalacją sterowania ogrzewaniem. Instalacje wod-kan, elektryczne, światłowód, kanalizacja miejska, kocioł gazowy dwufunkcyjny wraz zasobnikiem wody. Taras kompozytowy wraz z pergolą. Wybrukowany podjazd, wyprowadzone opaski wokół domu wraz z kamieniem ozdobnym i oświetleniem, Zagospodarowana woda opadowa z dachu do studni chłonnych. Ogrodzenie panelowe. Dojazd do posesji wybrukowany.</p>
          </div>
        </div>
      </div>
      <div class="wrapper">
        <div class="estateGalleryThumbs">
          <div class="estateGalleryThumb">
            <lightbox
                :thumbnail="require(`@/assets/a1-thumb-1.jpg`)"
                :images="[
                  require(`@/assets/a1.jpg`),
                  require(`@/assets/a1-2.jpg`),
                  require(`@/assets/a1-3.jpg`),
                  require(`@/assets/a1-4.jpg`)
                ]"
            ></lightbox>
          </div>
          <div class="estateGalleryThumb">
            <lightbox
                :thumbnail="require(`@/assets/a1-thumb-2.jpg`)"
                :images="[
                  require(`@/assets/a1-2.jpg`),
                  require(`@/assets/a1.jpg`),
                  require(`@/assets/a1-3.jpg`),
                  require(`@/assets/a1-4.jpg`)
                  ]"
            ></lightbox>
          </div>
          <div class="estateGalleryThumb">
            <lightbox
                :thumbnail="require(`@/assets/a1-thumb-3.jpg`)"
                :images="[
                  require(`@/assets/a1-3.jpg`),
                  require(`@/assets/a1-2.jpg`),
                  require(`@/assets/a1.jpg`),
                  require(`@/assets/a1-4.jpg`)
                ]"
            ></lightbox>
          </div>
        </div>
      </div>
    </div>
    <div v-if="houseDetailType === 'a1'">
      <div class="wrapper">
        <div class="txtDetails">
          <div>
            <h3>Dom typu A1</h3>
            <p>Zwarta bryła domu mieści w sobie dwie wyraźnie oddzielone od siebie strefy. Jest to dom idealny dla 4-5 osobowej rodziny. W domu znajduje się otwarta, przestronna kuchnia z jadalnią oraz salon z kominkiem i wyjściem na taras. Zaprojektowano trzy sypialnie, wc dla gości, łazienkę oraz garaż. Uwagę zwraca ciekawie zaaranżowana elewacja frontowa i ogrodowa, a pergola tworzy zadaszenie tarasu. Dzięki temu dom prezentuje się bardzo okazale i stanowi wygodne lokum dla rodziny.</p>
            <h3>Koncepcja</h3>
            <p>Strefy: reprezentacyjna oraz nocna są wyraźnie wydzielone, co zapewnia domownikom wygodę i komfort użytkowania. Pomieszczenia zaprojektowane zostały z myślą o maksymalnej funkcjonalności - wnętrza będą ustawne, przestronne i jasne.</p>
          </div>
          <div>
            <h3>Wszystko w cenie</h3>
            <p>Dom posadowiony na płycie wraz z izolacją przeciwwilgociową, ściany wymurowane z pustaka ceramicznego. Dom ocieplony styropianem, otynkowany. Komin ceramiczny z wkładem z wełny, kominy wentylacyjne systemowe, dach płaski pokryty membraną PVC, okna PVC trzyszybowe, rolety zewnętrzne ze sterowaniem elektrycznym, drzwi zewnętrzne + brama segmentowa (2 piloty), tynk gipsowy, wylewki cementowe, ogrzewanie podłogowe wraz z rozprowadzoną instalacją sterowania ogrzewaniem. Instalacje wod-kan, elektryczne, światłowód, kanalizacja miejska, kocioł gazowy dwufunkcyjny wraz zasobnikiem wody. Taras kompozytowy wraz z pergolą. Wybrukowany podjazd, wyprowadzone opaski wokół domu wraz z kamieniem ozdobnym i oświetleniem, Zagospodarowana woda opadowa z dachu do studni chłonnych. Ogrodzenie panelowe. Dojazd do posesji wybrukowany.</p>
          </div>
        </div>
      </div>
      <div class="wrapper">
        <div class="estateGalleryThumbs">
          <div class="estateGalleryThumb">
            <lightbox
                :thumbnail="require(`@/assets/b1-thumb-1.jpg`)"
                :images="[
                  require(`@/assets/estate-1.jpg`),
                  require(`@/assets/estate-2.jpg`),
                  require(`@/assets/estate-3.jpg`),
                  require(`@/assets/estate-4.jpg`),
                  require(`@/assets/estate-5.jpg`),
                  require(`@/assets/estate-6.jpg`),
                  require(`@/assets/estate-7.jpg`),
                  require(`@/assets/estate-8.jpg`)
                ]"
            ></lightbox>
          </div>
          <div class="estateGalleryThumb">
            <lightbox
                :thumbnail="require(`@/assets/b1-thumb-2.jpg`)"
                :images="[
                  require(`@/assets/estate-2.jpg`),
                  require(`@/assets/estate-1.jpg`),
                  require(`@/assets/estate-3.jpg`),
                  require(`@/assets/estate-4.jpg`),
                  require(`@/assets/estate-5.jpg`),
                  require(`@/assets/estate-6.jpg`),
                  require(`@/assets/estate-7.jpg`),
                  require(`@/assets/estate-8.jpg`)
                ]"
            ></lightbox>
          </div>
          <div class="estateGalleryThumb">
            <lightbox
                :thumbnail="require(`@/assets/b1-thumb-3.jpg`)"
                :images="[
                  require(`@/assets/estate-3.jpg`),
                  require(`@/assets/estate-2.jpg`),
                  require(`@/assets/estate-1.jpg`),
                  require(`@/assets/estate-4.jpg`),
                  require(`@/assets/estate-5.jpg`),
                  require(`@/assets/estate-6.jpg`),
                  require(`@/assets/estate-7.jpg`),
                  require(`@/assets/estate-8.jpg`)
                ]"
            ></lightbox>
          </div>
        </div>
      </div>
    </div>
    <div v-if="houseDetailType === 'c1'">
      <div class="wrapper">
        <div class="txtDetails">
          <div>
            <h3>Dom typu C1</h3>
            <p>Dom piętrowy w zabudowie bliźniaczej to propozycja dla rodzin oczekujących większej przestrzeni. Na parterze zaprojektowano część wspólną dla wszystkich domowników: ponad 39 metrowy salon z kominkiem i aneksem kuchennym, WC, pomieszczenie gosp. i garaż. Natomiast 4 sypialnie, garderoba oraz łazienka znajdują się na piętrze. Dzięki takiemu rozplanowaniu, w piętrowym domu, nawet duża rodzina poczuje się komfortowo.</p>
            <p>Ponadto we wczesnych fazach budowy dajemy Państwu możliwość zmiany aranżacji pomieszczeń według własnych pomysłów, natomiast po zakończeniu budowy zapewnimy swoim klientom pełne wsparcie w zakresie dostępu do usług doradczych biur projektowych jak również firm remontowo-wykończeniowych.</p>
            <h3>Koncepcja</h3>
            <p>Strefy: reprezentacyjna oraz nocna są wyraźnie wydzielone, co zapewnia domownikom wygodę i komfort użytkowania. Pomieszczenia zaprojektowane zostały z myślą o maksymalnej funkcjonalności - wnętrza będą ustawne, przestronne i jasne.</p>
          </div>
          <div>
            <h3>Wszystko w cenie</h3>
            <p>Dom posadowiony na płycie wraz z izolacją przeciwwilgociową, ściany wymurowane z pustaka ceramicznego. Dom ocieplony styropianem, otynkowany. Komin ceramiczny z wkładem z wełny, kominy wentylacyjne systemowe, dach płaski pokryty membraną PVC, okna PVC trzyszybowe, rolety zewnętrzne ze sterowaniem elektrycznym, drzwi zewnętrzne + brama segmentowa (2 piloty), tynk gipsowy, wylewki cementowe, ogrzewanie podłogowe. Instalacje wod-kan, elektryczne, światłowód, kanalizacja miejska, kocioł gazowy wraz zasobnikiem wody. Taras kompozytowy wraz z pergolą. Wybrukowany podjazd, wyprowadzone opaski wokół domu wraz z kamieniem ozdobnym i oświetleniem, Zagospodarowana woda opadowa z dachu do studni chłonnych. Ogrodzenie panelowe. Dojazd do posesji wybrukowany.</p>
          </div>
        </div>
      </div>
      <div class="wrapper">
        <div class="estateGalleryThumbs">
          <div class="estateGalleryThumb">
            <lightbox
                :thumbnail="require(`@/assets/C1_1-thumb.jpg`)"
                :images="[
                  require(`@/assets/C1_1.jpg`),
                  require(`@/assets/C1_2.jpg`),
                  require(`@/assets/C1_3.jpg`),
                  require(`@/assets/salon.jpg`),
                  require(`@/assets/kuchnia.jpg`),
                  require(`@/assets/lazienka.jpg`),
                  require(`@/assets/sypialnia.jpg`)
                ]"
            ></lightbox>
          </div>
          <div class="estateGalleryThumb">
            <lightbox
                :thumbnail="require(`@/assets/C1_2-thumb.jpg`)"
                :images="[
                  require(`@/assets/C1_2.jpg`),
                  require(`@/assets/C1_1.jpg`),
                  require(`@/assets/C1_3.jpg`),
                  require(`@/assets/salon.jpg`),
                  require(`@/assets/kuchnia.jpg`),
                  require(`@/assets/lazienka.jpg`),
                  require(`@/assets/sypialnia.jpg`)
                ]"
            ></lightbox>
          </div>
          <div class="estateGalleryThumb">
            <lightbox
                :thumbnail="require(`@/assets/C1_3-thumb.jpg`)"
                :images="[
                  require(`@/assets/C1_3.jpg`),
                  require(`@/assets/C1_2.jpg`),
                  require(`@/assets/C1_1.jpg`),
                  require(`@/assets/salon.jpg`),
                  require(`@/assets/kuchnia.jpg`),
                  require(`@/assets/lazienka.jpg`),
                  require(`@/assets/sypialnia.jpg`)
                ]"
            ></lightbox>
          </div>
        </div>
      </div>
      <div class="wrapper">
        <div class="estateGalleryThumbs">
          <div class="estateGalleryThumb">
            <lightbox
                :thumbnail="require(`@/assets/kuchnia-thumb.jpg`)"
                :images="[
                  require(`@/assets/kuchnia.jpg`),
                  require(`@/assets/lazienka.jpg`),
                  require(`@/assets/salon.jpg`),
                  require(`@/assets/sypialnia.jpg`),
                  require(`@/assets/D1_2.jpg`),
                  require(`@/assets/D1_1.jpg`)
                ]"
            ></lightbox>
          </div>
          <div class="estateGalleryThumb">
            <lightbox
                :thumbnail="require(`@/assets/lazienka-thumb.jpg`)"
                :images="[
                  require(`@/assets/lazienka.jpg`),
                  require(`@/assets/kuchnia.jpg`),
                  require(`@/assets/salon.jpg`),
                  require(`@/assets/sypialnia.jpg`),
                  require(`@/assets/D1_2.jpg`),
                  require(`@/assets/D1_1.jpg`)
                ]"
            ></lightbox>
          </div>
          <div class="estateGalleryThumb">
            <lightbox
                :thumbnail="require(`@/assets/salon-thumb.jpg`)"
                :images="[
                  require(`@/assets/salon.jpg`),
                  require(`@/assets/kuchnia.jpg`),
                  require(`@/assets/lazienka.jpg`),
                  require(`@/assets/sypialnia.jpg`),
                  require(`@/assets/D1_2.jpg`),
                  require(`@/assets/D1_1.jpg`)
                ]"
            ></lightbox>
          </div>
        </div>
      </div>
      <div class="wrapper">
        <div class="estateGalleryThumbs">
          <div class="estateGalleryThumb">
            <lightbox
                :thumbnail="require(`@/assets/sypialnia-thumb.jpg`)"
                :images="[
                  require(`@/assets/sypialnia.jpg`),
                  require(`@/assets/kuchnia.jpg`),
                  require(`@/assets/lazienka.jpg`),
                  require(`@/assets/salon.jpg`),
                  require(`@/assets/D1_2.jpg`),
                  require(`@/assets/D1_1.jpg`)
                ]"
            ></lightbox>
          </div>
        </div>
      </div>
    </div>
    <div v-if="houseDetailType === 'd1'">
      <div class="wrapper">
        <div class="txtDetails">
          <div>
            <h3>Dom typu D1</h3>
            <p>Dom piętrowy w zabudowie szeregowej to propozycja dla rodzin oczekujących większej przestrzeni. Na parterze zaprojektowano część wspólną dla wszystkich domowników: ponad 39 metrowy salon z kominkiem i aneksem kuchennym, WC, pomieszczenie gosp. i garaż. Natomiast 4 sypialnie, garderoba oraz łazienka znajdują się na piętrze. Dzięki takiemu rozplanowaniu, w piętrowym domu, nawet duża rodzina poczuje się komfortowo.</p>
            <p>Ponadto we wczesnych fazach budowy dajemy Państwu możliwość zmiany aranżacji pomieszczeń według własnych pomysłów, natomiast po zakończeniu budowy zapewnimy swoim klientom pełne wsparcie w zakresie dostępu do usług doradczych biur projektowych jak również firm remontowo-wykończeniowych.</p>
            <h3>Koncepcja</h3>
            <p>Strefy: reprezentacyjna oraz nocna są wyraźnie wydzielone, co zapewnia domownikom wygodę i komfort użytkowania. Pomieszczenia zaprojektowane zostały z myślą o maksymalnej funkcjonalności - wnętrza będą ustawne, przestronne i jasne.</p>
          </div>
          <div>
            <h3>Wszystko w cenie</h3>
            <p>Dom posadowiony na płycie wraz z izolacją przeciwwilgociową, ściany wymurowane z pustaka ceramicznego. Dom ocieplony styropianem, otynkowany. Komin ceramiczny z wkładem z wełny, kominy wentylacyjne systemowe, dach płaski pokryty membraną PVC, okna PVC trzyszybowe, rolety zewnętrzne ze sterowaniem elektrycznym, drzwi zewnętrzne + brama segmentowa (2 piloty), tynk gipsowy, wylewki cementowe, ogrzewanie podłogowe. Instalacje wod-kan, elektryczne, światłowód, kanalizacja miejska. Taras kompozytowy wraz z pergolą. Wybrukowany podjazd, wyprowadzone opaski wokół domu wraz z kamieniem ozdobnym i oświetleniem, Zagospodarowana woda opadowa z dachu do studni chłonnych. Ogrodzenie panelowe. Dojazd do posesji wybrukowany.</p>
          </div>
        </div>
      </div>
      <div class="wrapper">
        <div class="estateGalleryThumbs">
          <div class="estateGalleryThumb">
            <lightbox
                :thumbnail="require(`@/assets/D1_1-thumb.jpg`)"
                :images="[
                  require(`@/assets/D1_1.jpg`),
                  require(`@/assets/D1_2.jpg`),
                  require(`@/assets/D1_3.jpg`),
                  require(`@/assets/salon.jpg`),
                  require(`@/assets/kuchnia.jpg`),
                  require(`@/assets/lazienka.jpg`),
                  require(`@/assets/sypialnia.jpg`)
                ]"
            ></lightbox>
          </div>
          <div class="estateGalleryThumb">
            <lightbox
                :thumbnail="require(`@/assets/D1_2-thumb.jpg`)"
                :images="[
                  require(`@/assets/D1_2.jpg`),
                  require(`@/assets/D1_1.jpg`),
                  require(`@/assets/D1_3.jpg`),
                  require(`@/assets/salon.jpg`),
                  require(`@/assets/kuchnia.jpg`),
                  require(`@/assets/lazienka.jpg`),
                  require(`@/assets/sypialnia.jpg`)
                ]"
            ></lightbox>
          </div>
          <div class="estateGalleryThumb">
            <lightbox
                :thumbnail="require(`@/assets/D1_3-thumb.jpg`)"
                :images="[
                  require(`@/assets/D1_3.jpg`),
                  require(`@/assets/D1_2.jpg`),
                  require(`@/assets/D1_1.jpg`),
                  require(`@/assets/salon.jpg`),
                  require(`@/assets/kuchnia.jpg`),
                  require(`@/assets/lazienka.jpg`),
                  require(`@/assets/sypialnia.jpg`)
                ]"
            ></lightbox>
          </div>
        </div>
      </div>
      <div class="wrapper">
        <div class="estateGalleryThumbs">
          <div class="estateGalleryThumb">
            <lightbox
                :thumbnail="require(`@/assets/kuchnia-thumb.jpg`)"
                :images="[
                  require(`@/assets/kuchnia.jpg`),
                  require(`@/assets/lazienka.jpg`),
                  require(`@/assets/salon.jpg`),
                  require(`@/assets/sypialnia.jpg`),
                  require(`@/assets/D1_2.jpg`),
                  require(`@/assets/D1_1.jpg`)
                ]"
            ></lightbox>
          </div>
          <div class="estateGalleryThumb">
            <lightbox
                :thumbnail="require(`@/assets/lazienka-thumb.jpg`)"
                :images="[
                  require(`@/assets/lazienka.jpg`),
                  require(`@/assets/kuchnia.jpg`),
                  require(`@/assets/salon.jpg`),
                  require(`@/assets/sypialnia.jpg`),
                  require(`@/assets/D1_2.jpg`),
                  require(`@/assets/D1_1.jpg`)
                ]"
            ></lightbox>
          </div>
          <div class="estateGalleryThumb">
            <lightbox
                :thumbnail="require(`@/assets/salon-thumb.jpg`)"
                :images="[
                  require(`@/assets/salon.jpg`),
                  require(`@/assets/kuchnia.jpg`),
                  require(`@/assets/lazienka.jpg`),
                  require(`@/assets/sypialnia.jpg`),
                  require(`@/assets/D1_2.jpg`),
                  require(`@/assets/D1_1.jpg`)
                ]"
            ></lightbox>
          </div>
        </div>
      </div>
      <div class="wrapper">
        <div class="estateGalleryThumbs">
          <div class="estateGalleryThumb">
            <lightbox
                :thumbnail="require(`@/assets/sypialnia-thumb.jpg`)"
                :images="[
                  require(`@/assets/sypialnia.jpg`),
                  require(`@/assets/kuchnia.jpg`),
                  require(`@/assets/lazienka.jpg`),
                  require(`@/assets/salon.jpg`),
                  require(`@/assets/D1_2.jpg`),
                  require(`@/assets/D1_1.jpg`)
                ]"
            ></lightbox>
          </div>
        </div>
      </div>
    </div>
    <p style="margin: 50px 0 30px 0; color: #686868; text-align: center;">Prezentacja zamieszczona na stronie ma charakter poglądowy i informacyjny oraz nie stanowi oferty handlowej w rozumieniu Art. 66 par. 1 Kodeksu Cywilnego.</p>
    <!-- <ContactBottom /> -->
  </div>
</template>

<script>
import TopBar from '@/components/TopBar.vue';
import EstateIntro from '@/components/Estate/EstateIntro.vue';
import EstateIcons from '@/components/Estate/EstateIcons.vue';
import Map from '@/components/Map.vue';
// import ContactBottom from '@/components/ContactBottom.vue';
import Footer from '@/components/Footer.vue';

export default {
  name: 'Osiedle',
  components: {
    TopBar,
    EstateIntro,
    EstateIcons,
    Map,
    // ContactBottom,
    Footer,
  },
  data() {
    return {
      activeClass: 'shadow',
      topShadow: false,
      houseDetailType: 'a1',
      houseDetail: 'a',
    };
  },
  methods: {
    handleScroll() {
      const scrollPosition = (document.documentElement && document.documentElement.scrollTop) || document.body.scrollTop;
      if (scrollPosition > 10) {
        this.topShadow = true;
      } else {
        this.topShadow = false;
      }
    },
    houseType() {
      const { house, type } = this.$route.query;
      if (house !== undefined) {
        this.houseDetailType = type;
      } else {
        this.houseDetailType = 'a1';
      }
    },
    houseChanger() {
      const { house } = this.$route.query;
      if (house !== undefined) {
        this.houseDetail = house;
      } else {
        this.houseDetail = 'a';
      }
    },
  },
  watch: {
    '$route.query.type'() {
      this.houseType();
    },
    '$route.query.house'() {
      this.houseChanger();
    },
  },
  created() {
    window.addEventListener('scroll', this.handleScroll);
  },
  destroyed() {
    window.removeEventListener('scroll', this.handleScroll);
  },
  mounted() {
    this.houseType();
    this.houseChanger();
  },
};
</script>

<style lang="scss" scoped>
.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
}
.txtDetails {
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  color: #686868;
  text-align: justify;
  @media (max-width: 720px) {
    flex-direction: column;
    padding: 10px;
  }
  div {
    max-width: 580px;
    h3 {
      font-size: 30px;
      font-weight: 400;
      color: #686868;
      font-family: 'Alex Brush', cursive;
    }
  }
}
.estateGalleryThumbs {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 30px;
  .estateGalleryThumb {
    width: 33.3333%;
    padding: 5px;
    a {
      display: block;
      img {
        display: block;
        width: auto;
        height: auto;
        max-width: 100%;
      }
    }
  }
}
</style>
