<template>
  <div>
    <TopBar v-bind:class="[topShadow ? activeClass : '', ''] "/>
    <Intro />
    <Items />
    <ThreeBox />
    <!-- <Map /> -->
    <!-- <ContactBottom /> -->
    <Footer />
  </div>
</template>

<script>
import TopBar from '@/components/TopBar.vue';
import Intro from '@/components/Home/Intro.vue';
import ThreeBox from '@/components/ThreeBox.vue';
import Items from '@/components/Home/Items.vue';
// import Map from '@/components/Map.vue';
// import ContactBottom from '@/components/ContactBottom.vue';
import Footer from '@/components/Footer.vue';
// import axios from 'axios';

export default {
  name: 'home',
  components: {
    TopBar,
    Intro,
    ThreeBox,
    Items,
    // ContactBottom,
    Footer,
    // Map,
  },
  data() {
    return {
      activeClass: 'shadow',
      topShadow: false,
      mapData: null,
    };
  },
  methods: {
    handleScroll() {
      const scrollPosition = document.documentElement.scrollTop;
      if (scrollPosition > 10) {
        this.topShadow = true;
      } else {
        this.topShadow = false;
      }
    },
  },
  created() {
    window.addEventListener('scroll', this.handleScroll);
    // axios
    //   .get('http://osiedle-map.herokuapp.com/domki?$limit=20')
    //   .then(
    //     response => (this.mapData = response.data.data),
    //   )
    //   .catch(error => console.log(error));
  },
  destroyed() {
    window.removeEventListener('scroll', this.handleScroll);
  },
};
</script>

<style lang="scss" scoped>

</style>
