<template>
  <div>
    <TopBar class="shadow" />
    <div class="google-maps">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2565.3591384247325!2d18.488173516422208!3d49.9858758794139!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471151a74f19635d%3A0x10ffedd484d0f4bf!2sLeonida+Teligi+116%2C+44-286+Wodzis%C5%82aw+%C5%9Al%C4%85ski!5e0!3m2!1spl!2spl!4v1546457125647" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <ContactBottom />
    <Footer />
  </div>
</template>

<script>
import TopBar from '@/components/TopBar.vue';
// import Intro from '@/components/Home/Intro.vue';
// import Title from '@/components/Home/Title.vue';
// import Items from '@/components/Home/Items.vue';
import ContactBottom from '@/components/ContactBottom.vue';
import Footer from '@/components/Footer.vue';

export default {
  name: 'kontakt',
  components: {
    TopBar,
    // Intro,
    // Title,
    // Items,
    ContactBottom,
    Footer,
  },
  data() {
    return {
      activeClass: 'shadow',
      topShadow: false,
    };
  },
  methods: {
    handleScroll() {
      const scrollPosition = document.documentElement.scrollTop;
      if (scrollPosition > 10) {
        this.topShadow = true;
      } else {
        this.topShadow = false;
      }
    },
  },
  created() {
    window.addEventListener('scroll', this.handleScroll);
  },
  destroyed() {
    window.removeEventListener('scroll', this.handleScroll);
  },
};
</script>

<style lang="scss" scoped>
.google-maps {
  position: relative;
  padding-bottom: 25%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
  margin-top: 61px;
  @media (max-width: 720px) {
    margin-top: 0;
    padding-bottom: 75%;
  }
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
</style>
