<template>
  <div class="homeIntro">
    <video class="myVideo desktop" autoplay muted loop playsinline>
      <source :src="require(`@/assets/intro.mp4`)" type="video/mp4">
    </video>
    <video controls="true" class="myVideo mobile" autoplay muted loop playsinline>
      <source :src="require(`@/assets/intro.mp4`)" type="video/mp4">
    </video>
    <transition name="slide-fade">
      <IntroApla v-if="step === 1" />
    </transition>
  </div>
</template>

<script>
import IntroApla from './IntroApla.vue';

export default {
  name: 'Intro',
  components: {
    IntroApla,
  },
  data() {
    return {
      step: 0,
    };
  },
  methods: {
    handleTest() {
      console.log('test 1');
    },
    handleScroll() {
      const scrollPosition = (document.documentElement && document.documentElement.scrollTop) || document.body.scrollTop;
      if (scrollPosition > 10) {
        this.step = 1;
      } else {
        this.step = 0;
      }
    },
  },
  created() {
    window.addEventListener('scroll', this.handleScroll);
  },
  destroyed() {
    window.removeEventListener('scroll', this.handleScroll);
  },
};
</script>

<style lang="scss" scoped>
  .homeIntro {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;

    @media (max-width: 720px) {
      padding: 100px 0;
    }
  }
  .myVideo {
    display: block;
    width: 100vw;
    max-width: 100%;
    height: auto;
  }
  .desktop {
    display: block;
    @media (max-width: 720px) {
      display: none;
    }
  }
  .mobile {
    display: none;
    @media (max-width: 720px) {
      display: block;
    }
  }
  .slide-fade-enter-active {
    transition: all .3s ease-in-out;
  }
  .slide-fade-leave-active {
    transition: all .3s ease-in-out;
  }
  .slide-fade-enter, .slide-fade-leave-to {
    transform: translateX(100%);
    opacity: 0;
  }
</style>
