<template>
  <div class="introAplaWrapper">
    <div class="introAplaContent">
      <h1 class="title">
        <img :src="require(`@/assets/osiedle-czarneckiego.png`)" alt="Osiedle Czarneckiego" />
      </h1>
      <!-- <div class="iconsWrapper">
        <div class="aplaIco">
          <img :src="require(`@/assets/apla-ico-1.png`)" />
        </div>
        <div class="aplaIco">
          <img :src="require(`@/assets/apla-ico-2.png`)" />
        </div>
        <div class="aplaIco">
          <img :src="require(`@/assets/apla-ico-3.png`)" />
        </div>
        <div class="aplaIco">
          <img :src="require(`@/assets/apla-ico-4.png`)" />
        </div>
      </div> -->
      <div>
        <router-link to="/osiedle" class="seeMore">zobacz osiedle</router-link>
        <!-- <button class="seeMore" to="/osiedle">zobacz osiedle</button> -->
      </div>
      <div>
        <router-link to="/kontakt" class="seeMore">napisz do nas</router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'IntroApla',
};
</script>

<style lang="scss" scoped>
.introAplaWrapper {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50vw;
  height: 100%;
  background-image: url('../../assets/apla-bg.png');
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

  .introAplaContent {
    max-width: 426px;
    text-align: center;
  }

  @media (max-width: 720px) {
    width: 100vw;
    left: 0;
    padding-top: 50px;
  }
}

.title {
  color: #666;
  font-size: 28pt;
  margin: 0 0 30px 0;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;

  strong {
    font-weight: 700;
    font-size: 36pt;
    color: #b2c482;
  }
}

.iconsWrapper {
  display: flex;
  flex-direction: row;
  margin: 70px 0;
  justify-content: space-around;
  .aplaIco {
    background: #a2a2a2;
    margin: 0 20px;
    padding: 10px;
    width: 5vw;
    height: 4vw;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

    img {
      display: flex;
      width: auto;
      height: auto;
      max-width: 100%;
    }
  }
}

.seeMore {
  background: #bec9a2;
  border: 0;
  border-radius: 30px;
  font-size: 14px;
  color: #fff;
  padding: 15px 10px;
  width: 100%;
  max-width: 214px;
  cursor: pointer;
  margin: 10px 0;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}
</style>
