<template>
  <div>
    <div class="row">
      <ImgItem
        imgURL="home-box-1.jpg"
      />
      <TextItem
        title="Dobra lokalizacja"
        text="<p>Osiedle Czerneckiego to kameralne osiedle domów jednorodzinnych o powierzchni mieszkalnej od 85,5 m<sup>2</sup> do 149,4 m<sup>2</sup>. Do dyspozycji przyszłych mieszkańców oddane zostaną komfortowe parterowe i piętrowe domy usytuowane na działkach o powierzchni od 277 m<sup>2</sup> do 1030 m<sup>2</sup>.</p>
        <p>W pobliżu osiedla znajdują się sklepy, zespół szkolno-przedszkolny, basen, przystanek autobusowy oraz kościół. Do centrum miasta można dojechać w zaledwie 5 min., a do wjazdu na autostradę trzeba przejechać tylko 6 km.</p>"
        class="whiteBox"
      />
    </div>
    <div class="row">
      <ImgItem
        imgURL="home-box-2.jpg"
      />
      <TextItem
        title="Komfort w cenie"
        text="<p>Wszystkie domy zaprojektowane zostały tak, aby odpowiadały potrzebom mniejszych i większych rodzin. Funkcjonalne rozwiązania architektoniczne zapewnią codzienny komfort przyszłym mieszkańcom, a zróżnicowana oferta sprawi, że każdy z Państwa znajdzie wymarzone miejsce do życia, zgodne z jego indywidualnymi oczekiwaniami.</p>
        <p>Pierwszy etap budowy stanowi 5 budynków wolnostojących. Typ A1 i B1 to wygodne domy parterowe z 2 lub 3 oddzielnymi sypialniami i przestronnym salonem. W strefie wypoczynkowej przewidziano miejsce na kominek. Atutem są przestronne tarasy, a zlokalizowany w bryle budynku A1 garaż z elektrycznie otwieraną bramą umożliwia wygodne korzystanie z dodatkowej przestrzeni.</p>"
        class="order-1"
      />
    </div>
    <div class="row">
      <ImgItem
        imgURL="home-box-4.jpg"
      />
      <TextItem
        title="Dom typu A1"
        text="<p>Budynek A1 to nowoczesny dom parterowy zaprojektowany z myślą o inwestorach poszukujących nieszablonowych rozwiązań. Zwarta bryła domu mieści w sobie dwie wyraźnie oddzielone od siebie strefy. Jest to dom idealny dla 4-5 osobowej rodziny. W domu znajduje się otwarta, przestronna kuchnia z jadalnią oraz salon z kominkiem i wyjściem na taras. Zaprojektowano trzy sypialnie, wc dla gości, łazienkę oraz garaż. Uwagę zwraca ciekawie zaaranżowana elewacja frontowa i ogrodowa, a pergola tworzy zadaszenie tarasu. Dzięki temu dom prezentuje się bardzo okazale i stanowi wygodne lokum dla rodziny.</p>"
        class="whiteBox"
      />
    </div>
    <div class="row">
      <ImgItem
        imgURL="home-box-3.jpg"
      />
      <TextItem
        title="Dom typu B1"
        text="<p>Budynek B1 zaprojektowany  w nowoczesnym stylu z dwiema sypialniami i dużą kuchnią.  Prosta bryła domu dzięki ciekawie dobranej elewacji prezentuje się bardzo efektownie. Jest to dom idealny dla 3-4 osobowej rodziny. W domu znajduje się otwarta, przestronna kuchnia z jadalnią oraz salon z wyjściem na taras. Zaprojektowano dwie sypialnie, łazienkę oraz pomieszczenie gospodarcze. Strefy: reprezentacyjna oraz nocna są wyraźnie wydzielone, co zapewnia domownikom wygodę i komfort użytkowania. Pomieszczenia zaprojektowane zostały z myślą o maksymalnej funkcjonalności - wnętrza będą ustawne, przestronne i jasne.</p>"
        class="order-1"
      />
    </div>
    <div class="row">
      <ImgItem
        imgURL="home-box-5.jpg" />
      <TextItem
        title="Dom typu C1 oraz D1"
        text="<p>Domy piętrowe, oznaczone, jako typ C1 i D1 to propozycja dla rodzin oczekujących większej przestrzeni. Na parterze zaprojektowano część wspólną dla wszystkich domowników: ponad 39 metrowy salon z aneksem kuchennym, WC i pomieszczenie gosp. Natomiast 4 sypialnie, garderoba oraz łazienka znajdują się na piętrze. Dzięki takiemu rozplanowaniu, w piętrowym domu, nawet duża rodzina poczuje się komfortowo.</p>
        <p>Ponadto we wczesnych fazach budowy dajemy Państwu możliwość zmiany aranżacji pomieszczeń według własnych pomysłów, natomiast po zakończeniu budowy zapewnimy swoim klientom pełne wsparcie w zakresie dostępu do usług doradczych biur projektowych jak również firm remontowo-wykończeniowych.</p>"
        class="whiteBox"
      />
    </div>
    <div class="row">
      <ImgItem
        imgURL="home-box-1.jpg"
      />
      <TextItem
        title="Tylko najlepsi"
        text="<p>Wszystkie domy zaprojektowano w najnowszej technologii tak, aby w połączeniu z najwyższą jakością wykonania oraz z odpowiednio dobranymi materiałami umożliwiły przyszłym nabywcą komfort i ekonomiczne użytkowanie.</p>
        <p>Jakość realizowanych i oddawanych klientom budynków stawiamy na pierwszym miejscu. W oparciu o wieloletnie doświadczenie i wypracowane standardy, jesteśmy w stanie zapewnić atrakcyjne domy w dobrych cenach, przy zachowaniu wysokiego poziomu wykończenia budynków i zgodnie ze wszystkimi obowiązującymi normami.</p>
        <p>Przy projektowaniu i budowie domów wykorzystujemy najnowsze rozwiązania technologiczne z zakresu budownictwa mieszkaniowego czołowych producentów.</p>"
        class="order-1"
      />
    </div>
  </div>
</template>

<script>
import TextItem from './Items/TextItem.vue';
import ImgItem from './Items/ImgItem.vue';

export default {
  name: 'Items',
  components: {
    TextItem,
    ImgItem,
  },
};
</script>

<style lang="scss" scoped>
  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    @media (max-width: 720px) {
      flex-direction: column;
    }
  }
  .order-1 {
    order: -1;
    @media (max-width: 720px) {
      order: 0;
    }
  }
</style>
