<template>
  <div class="titleWrapper">
    <p class="title">
      Osiedle składa się z 5 domów wolnostojących,
      4 budynków w zabudowie bliźniaczej,
      a także 10 segmentów w zabudowie szeregowej.
    </p>
  </div>
</template>

<script>
export default {
  name: 'Title',
};
</script>

<style lang="scss" scoped>
  .titleWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    @media (max-width: 720px) {
      height: auto;
      padding: 10px;
    }
  }
  .title {
    font-size: 27px;
    color: #666;
    text-align: center;
    max-width: 1000px;
  }
</style>
