<template>
  <div class="contactBottomWrapper" :style="{'background-image': 'url(' + require(`@/assets/contact-bg.jpg`) + ')'}">
    <div class="contactBottom">
      <div class="contactForm">
        <form method="post" v-on:submit.prevent="onSubmit()" v-if="!submited">
          <div>
            <input type="text" class="textInput" v-model="form.name" name="name" placeholder="Imię i nazwisko" required />
          </div>
          <div>
            <input type="email" class="textInput" v-model="form.email" name="email" placeholder="Twój adres e-mail" required />
          </div>
          <div>
            <textarea cols="50" class="textMessage" v-model="form.message" rows="10" name="message" placeholder="Treść wiadomości" required></textarea>
          </div>
          <div style="text-align: center;">
            <button class="textSubmit" type="submit">Wyślij wiadomość</button>
          </div>
        </form>
        <h3 v-if="submited">Wiadomość została wysłana</h3>
      </div>
      <div class="contactRow">
        <p style="text-align: center;">Skontaktuj się z nami<br><big>570 570 090</big></p>
        <p>Biuro sprzedaży<br />
        <big>ul. Rynek 6<br />
        44-300 Wodzisław Śląski</big></p>
        <p>Doradca kredytowy:<br />
        <big>660 780 775</big></p>
      </div>
    </div>
    <p class="contactBottomSmallTxt">Prezentacja zamieszczona na stronie ma charakter poglądowy i informacyjny oraz nie stanowi oferty handlowej w rozumieniu Art. 66 par. 1 Kodeksu Cywilnego.</p>
  </div>
</template>

<script>
export default {
  name: 'ContactBottom',
  data() {
    return {
      form: {
        name: null,
        email: null,
        message: null,
      },
      submited: false,
    };
  },
  methods: {
    onSubmit() {
      this.$http.post('/api/mailer.php',
        {
          fname: this.form.name,
          email: this.form.email,
          message: this.form.message,
        }).then(function () {
        // console.log(data);
        this.submited = true;
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.contactBottomWrapper {
  background-position: 50% 50%;
  background-size: cover;
}
.contactBottom {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #fff;
  @media (max-width: 700px) {
    flex-direction: column;
    padding: 10px 20px;
  }
}
.contactForm {
  max-width: 400px;
  padding-top: 50px;
  @media (max-width: 700px) {
    max-width: 100%;
    padding: 0;
  }
}
.textMessage {
  height: 100px;
}
.textInput, .textMessage {
  border: 1px solid #d2d2d2;
  background: transparent;
  border-radius: 10px;
  width: 100%;
  padding: 5px;
  margin: 2.5px 0;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  &::placeholder {
    color: #fff;
    opacity: 1;
  }
  @media (max-width: 700px) {
    margin: 10px 0;
  }
}
.textSubmit {
  border: 1px solid #bababa;
  border-radius: 10px;
  text-transform: uppercase;
  background: transparent;
  line-height: 30px;
  height: 30px;
  padding: 0 10px;
  margin: 0 auto;
  cursor: pointer;
  outline: none;
  color: #fff;
  border-color: #d2d2d2;
  font-size: 10px;
  transition: all .25s ease-in;
}
.contactRow {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 20px 0 50px 0;
  text-align: center;
  @media (max-width: 700px) {
    padding-bottom: 0;
  }
  .contactLogo {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    padding-right: 90px;
    img {
      display: flex;
      width: auto;
      max-height: 80px;
    }
  }
  .contactTxt {
    width: 50%;
    p {
      margin: 5px 0;
    }
  }
}
.contactBottomSmallTxt {
  font-weight: 400;
  font-size: 12px;
  padding: 30px 0;
  margin: 0;
  text-align: center;
  color: #fff;
}
</style>
