<template>
  <div class="footerWrapper">
    <a href="https://szymonsobik.pl" title="strony www rybnik"><img :src="require(`@/assets/k11.png`)" ale="strony www rybnik" /></a>
  </div>
</template>

<script>
export default {
  name: 'FooterWrapper',
};
</script>

<style lang="scss" scoped>
.footerWrapper {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
</style>
