<template>
  <div class="mobileSlide">
    <div class="mapWrapper">
      <img src="@/assets/map.jpg" class="mapBg" alt="" />
      <button class="mapPointer house-a sold" v-scroll-to="'#estateIntro'" @click="houseDesc('a', 'a1')">A</button>
      <button class="mapPointer house-b sold" v-scroll-to="'#estateIntro'" @click="houseDesc('b', 'b1')">B</button>
      <button class="mapPointer house-c sold" v-scroll-to="'#estateIntro'" @click="houseDesc('c', 'a1')">C</button>
      <button class="mapPointer house-d sold" v-scroll-to="'#estateIntro'" @click="houseDesc('d', 'b1')">D</button>
      <button class="mapPointer house-e sold" v-scroll-to="'#estateIntro'" @click="houseDesc('e', 'a1')">E</button>
      <button class="mapPointer house-f sold" v-scroll-to="'#estateIntro'" @click="houseDesc('f', 'c1')">F</button>
      <button class="mapPointer house-g sold" v-scroll-to="'#estateIntro'" @click="houseDesc('g', 'c1')">G</button>
      <button class="mapPointer house-h sold" v-scroll-to="'#estateIntro'" @click="houseDesc('h', 'c1')">H</button>
      <button class="mapPointer house-i sold" v-scroll-to="'#estateIntro'" @click="houseDesc('i', 'c1')">I</button>
      <button class="mapPointer house-j sold" v-scroll-to="'#estateIntro'" @click="houseDesc('j', 'c1')">J</button>
      <button class="mapPointer house-k sold" v-scroll-to="'#estateIntro'" @click="houseDesc('k', 'c1')">K</button>
      <button class="mapPointer house-l sold" v-scroll-to="'#estateIntro'" @click="houseDesc('l', 'c1')">L
        <span>pow. domu: 149,4 m<sup>2</sup><br>pow. działki: 386 m<sup>2</sup><br>cena: 665.000 zł</span>
      </button>
      <button class="mapPointer house-m reserved" v-scroll-to="'#estateIntro'" @click="houseDesc('m', 'c1')">
        M
        <span>pow. domu: 149,4 m<sup>2</sup><br>pow. działki: 444 m<sup>2</sup><br>cena: 665.000 zł</span>
      </button>
      <!-- <button class="mapPointer house-1" v-scroll-to="'#estateIntro'" @click="houseDesc('h1', 'd1')">
        1
        <span>pow. domu: 149,4 m<sup>2</sup><br>pow. działki: 403 m<sup>2</sup><br>cena: 465.000 zł</span>
      </button>
      <button class="mapPointer house-2" v-scroll-to="'#estateIntro'" @click="houseDesc('h2', 'd1')">
        2
        <span>pow. domu: 149,4 m<sup>2</sup><br>pow. działki: 277 m<sup>2</sup><br>cena: 455.000 zł</span>
      </button>
      <button class="mapPointer house-3" v-scroll-to="'#estateIntro'" @click="houseDesc('h3', 'd1')">
        3
        <span>pow. domu: 149,4 m<sup>2</sup><br>pow. działki: 284 m<sup>2</sup><br>cena: ... zł</span>
      </button>
      <button class="mapPointer house-4" v-scroll-to="'#estateIntro'" @click="houseDesc('h4', 'd1')">
        4
        <span>pow. domu: 149,4 m<sup>2</sup><br>pow. działki: 290 m<sup>2</sup><br>cena: ... zł</span>
      </button>
      <button class="mapPointer house-5" v-scroll-to="'#estateIntro'" @click="houseDesc('h5', 'd1')">
        5
        <span>pow. domu: 149,4 m<sup>2</sup><br>pow. działki: 297 m<sup>2</sup><br>cena: ... zł</span>
      </button>
      <button class="mapPointer house-6" v-scroll-to="'#estateIntro'" @click="houseDesc('h6', 'd1')">
        6
        <span>pow. domu: 149,4 m<sup>2</sup><br>pow. działki: 304 m<sup>2</sup><br>cena: ... zł</span>
      </button>
      <button class="mapPointer house-7" v-scroll-to="'#estateIntro'" @click="houseDesc('h7', 'd1')">
        7
        <span>pow. domu: 149,4 m<sup>2</sup><br>pow. działki: 310 m<sup>2</sup><br>cena: ... zł</span>
      </button>
      <button class="mapPointer house-8" v-scroll-to="'#estateIntro'" @click="houseDesc('h8', 'd1')">
        8
        <span>pow. domu: 149,4 m<sup>2</sup><br>pow. działki: 317 m<sup>2</sup><br>cena: ... zł</span>
      </button>
      <button class="mapPointer house-9" v-scroll-to="'#estateIntro'" @click="houseDesc('h9', 'd1')">
        9
        <span>pow. domu: 149,4 m<sup>2</sup><br>pow. działki: 324 m<sup>2</sup><br>cena: ... zł</span>
      </button>
      <button class="mapPointer house-10" v-scroll-to="'#estateIntro'" @click="houseDesc('h10', 'd1')">
        10
        <span>pow. domu: 149,4 m<sup>2</sup><br>pow. działki: 794 m<sup>2</sup><br>cena: ... zł</span>
      </button> -->
      <div class="mapLegend">
        <div class="mapLegendIco">
          <img src="@/assets/house-status-1.png" class="homeStatus" alt="" />
          <p>dom dostępny</p>
        </div>
        <div class="mapLegendIco">
          <img src="@/assets/house-status-2.png" class="homeStatus" alt="" />
          <p>dom zarezerwowany</p>
        </div>
        <div class="mapLegendIco">
          <img src="@/assets/house-status-3.png" class="homeStatus" alt="" />
          <p>dom sprzedany</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import axios from 'axios';
import router from '../router';

export default {
  name: 'map',
  data() {
    return {
      mapData: null,
    };
  },
  methods: {
    houseDesc(house, type) {
      const locationPath = window.location.pathname;
      if (locationPath === '/osiedle') {
        router.push({ path: '/osiedle', query: { house, type } });
      } else {
        router.push({ path: '/osiedle', query: { house, type } });
      }
    },
  },
  // created() {
  //   axios
  //     .get('http://osiedle-map.herokuapp.com/domki?$limit=20')
  //     .then(response => (this.mapData = response.data.data))
  //     .catch(error => console.log(error));
  // },
};
</script>

<style lang="scss" scoped>
.mobileSlide {
  @media (max-width: 720px) {
    overflow-x: scroll;
  }
}

.mapWrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1920px;
  @media (max-width: 720px) {
    width: 1000px;
  }
}

.mapBg {
  display: block;
  width: auto;
  max-width: 100%;
  height: auto;

  @media (max-width: 720px) {
    width: 1000px;
  }
}

.mapPointer {
  position: absolute;
  display: block;
  color: #d7dec6;
  font-size: 1.5vw;
  border-radius: 0;
  width: 3.5vw;
  height: 3.5vw;
  line-height: 4.2vw;
  font-weight: 800;
  cursor: pointer;
  background-image: url('../assets/house-status-1.png');
  background-size: cover;
  background-color: transparent;
  border: 0;
  outline: none;
  @media (max-width: 720px) {
    width: 30px;
    height: 30px;
    font-size: 14px;
    line-height: 40px;
  }

  span {
    font-size: 13px;
    line-height: 1.3;
    background: #bec9a2;
    color: #fff;
    display: none;
    white-space: nowrap;
    position: absolute;
    bottom: 0;
    left: calc(100% + 10px);
    text-align: left;
    padding: 10px 20px;
    z-index: 1000;
    border: 2px solid #fff;
    @media (max-width: 720px) {
      font-size: 11px;
      font-weight: 300;
    }
  }

  &:hover span,
  &:active span,
  &:focus span {
    display: block;
  }

  &.reserved {
    background-image: url('../assets/house-status-2.png');
    color: #d7c081;
    span {
      background: #d7c081;
    }
  }

  &.sold {
    background-image: url('../assets/house-status-3.png');
    color: #e26961;
    span {
      background: #e26961;
    }
  }

  // &:hover {
  //   color: #d7dec6;
  // }

  &.house-a {
    top: 25.555%;
    left: 30.208%;
  }

  &.house-b {
    top: 32.5%;
    left: 38.697%;
  }

  &.house-c {
    top: 39.166%;
    left: 48.958%;
  }

  &.house-d {
    top: 45.740%;
    left: 59.0625%;
  }

  &.house-e {
    top: 53.148%;
    left: 71.25%;
  }

  &.house-f {
    top: 24.907%;
    left: 9.375%;
  }

  &.house-g {
    top: 28.4259%;
    left: 4.635%;
  }

  &.house-h {
    top: 39.814%;
    left: 21.8229%;
  }

  &.house-i {
    top: 42.5925%;
    left: 26.0416%;
  }

  &.house-j {
    top: 52.222%;
    left: 38.958%;
  }

  &.house-k {
    top: 55.462%;
    left: 43.802%;
  }

  &.house-l {
    top: 64.907%;
    left: 56.25%;
  }

  &.house-m {
    top: 68.055%;
    left: 61.1458%;
  }

  &.house-1 {
    top: 14.166%;
    left: 47.968%;
  }

  &.house-2 {
    top: 16.203%;
    left: 52.239%;
  }

  &.house-3 {
    top: 17.592%;
    left: 56.145%;
  }

  &.house-4 {
    top: 19.444%;
    left: 60.260%;
  }

  &.house-5 {
    top: 21.296%;
    left: 64.218%;
  }

  &.house-6 {
    top: 23.24%;
    left: 68.489%;
  }

  &.house-7 {
    top: 25.555%;
    left: 72.656%;
  }

  &.house-8 {
    top: 27.592%;
    left: 76.927%;
  }

  &.house-9 {
    top: 29.814%;
    left: 80.989%;
  }

  &.house-10 {
    top: 31.574%;
    left: 85.527%;
  }
}

.mapLegend {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  @media (max-width: 720px) {
    padding: 10px 0;
  }
  .mapLegendIco {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
    p {
      margin: 0 10px;
    }
    img {
      @media (max-width: 720px) {
        max-height: 30px;
      }
    }
    &:nth-child(1) {
      p {
        color: #bec9a2;
      }
    }
    &:nth-child(2) {
      p {
        color: #e0c17e;
      }
    }
    &:nth-child(3) {
      p {
        color: #e26961;
      }
    }
  }
}

</style>
