<template>
  <div class="threeBoxesWrapper">
    <div class="threeBox">
      <div class="img">
        <img src="@/assets/house-garaz.png" alt="" />
      </div>
      <div class="txtBox">
        <p class="txtBoxTitle">3 garaże</p>
        <p class="txtBoxSmall">wolnostojące</p>
      </div>
    </div>
    <div class="threeBox">
      <div class="img">
        <img src="@/assets/house-1.png" alt="" />
      </div>
      <div class="txtBox">
        <p class="txtBoxTitle">5 domów</p>
        <p class="txtBoxSmall">wolnostojących</p>
      </div>
    </div>
    <div class="threeBox">
      <div class="img">
        <img src="@/assets/house-2.png" alt="" />
      </div>
      <div class="txtBox">
        <p class="txtBoxTitle">4 budynki</p>
        <p class="txtBoxSmall">w zabudowie bliźniaczej</p>
      </div>
      <!-- <div class="seeMore">
        <p>
          <button class="seeMoreTxtBox">zobacz więcej</button>
        </p>
      </div> -->
    </div>
    <!-- <div class="threeBox">
      <div class="img">
        <img src="@/assets/house-3.png" alt="" />
      </div>
      <div class="txtBox">
        <p class="txtBoxTitle">10 segmentów</p>
        <p class="txtBoxSmall">w zabudowie szeregowej</p>
      </div>
    </div> -->
  </div>
</template>

<script>
export default {
  name: 'ThreeBox',
};
</script>

<style lang="scss" scoped>
.threeBoxesWrapper {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 100px 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;

  @media (max-width: 720px) {
    flex-direction: column;
    padding: 20px 0;
  }

  .threeBox {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;

    @media (max-width: 720px) {
      width: 100%;
    }
  }

  .txtBox {
    margin: 30px 0;

    p {
      margin: 0;
      color: #666;

      &.txtBoxTitle {
        font-size: 36px;
        font-family: 'Lato', sans-serif;
      }
    }
  }

  .seeMoreTxtBox {
    background-color: #bec9a2;
    border-radius: 22px;
    text-decoration: none;
    color: #fff;
    border: 0;
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    padding: 0 50px;
    display: block;
    cursor: pointer;
  }
}
</style>
