<template>
  <div class="topBar">
    <nav>
      <ul>
        <li>
          <router-link to="/">Home</router-link>
        </li>
        <li>
          <router-link to="/osiedle">Osiedle</router-link>
        </li>
        <li>
          <router-link to="/kontakt">Kontakt</router-link>
        </li>
      </ul>
    </nav>
    <div class="socialLinks">
      <ul>
        <!-- <li>
          <a href="#" target="_blank">
            <img src="../assets/google-plus.png" alt="Google Plus" />
          </a>
        </li> -->
        <li>
          <a href="https://www.facebook.com/OsiedleCzarneckiego/" target="_blank">
            <img src="../assets/fb.png" alt="Facebook" />
          </a>
        </li>
        <!-- <li>
          <a href="#" target="_blank">
            <img src="../assets/behance.png" alt="Behance" />
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img src="../assets/dribble.png" alt="Dribble" />
          </a>
        </li> -->
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TopBar',
};
</script>

<style lang="scss" scoped>
.topBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  z-index: 10000;
  background-color: transparent;
  transition: background-color .5s ease-in-out;

  &.shadow {
    background-color: #666;
    transition: background-color .5s ease-in-out;
  }

  @media (max-width: 720px) {
    background-color: #666;
  }

  nav {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      li {
        padding: 20px;
        text-transform: uppercase;
        font-weight: 800;
        font-family: 'Montserrat', sans-serif;

        a {
          color: #fff;
          text-decoration: none;

          &.router-link-exact-active {
            color: #333;
          }
        }
      }
    }
  }

  .socialLinks {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;

      li {
        padding: 20px;
      }
    }
  }
}
</style>
