<template>
  <div class="app">
    <router-view />
  </div>
</template>

<style lang="scss">
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Alex+Brush&subset=latin-ext');

body {
  margin: 0;
  padding: 0;
  // font-family: 'Montserrat', sans-serif;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  overflow-x: hidden;

  @media (max-width: 720px) {
    padding-top: 58px;
  }
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.lightbox {
  z-index: 1000 !important;
}
.lightbox__image img {
  display: block;
  width: auto !important;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
</style>
